In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('adult.data.csv')
print(df)

       age         workclass  fnlwgt   education  education-num  \
0       39         State-gov   77516   Bachelors             13
1       50  Self-emp-not-inc   83311   Bachelors             13
2       38           Private  215646     HS-grad              9
3       53           Private  234721        11th              7
4       28           Private  338409   Bachelors             13
...    ...               ...     ...         ...            ...
32556   27           Private  257302  Assoc-acdm             12
32557   40           Private  154374     HS-grad              9
32558   58           Private  151910     HS-grad              9
32559   22           Private  201490     HS-grad              9
32560   52      Self-emp-inc  287927     HS-grad              9

           marital-status         occupation   relationship   race     sex  \
0           Never-married       Adm-clerical  Not-in-family  White    Male
1      Married-civ-spouse    Exec-managerial        Husband  White    Male
2                Divorced  Handlers-cleaners  Not-in-family  White    Male
3      Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4      Married-civ-spouse     Prof-specialty           Wife  Black  Female
...                   ...                ...            ...    ...     ...
32556  Married-civ-spouse       Tech-support           Wife  White  Female
32557  Married-civ-spouse  Machine-op-inspct        Husband  White    Male
32558             Widowed       Adm-clerical      Unmarried  White  Female
32559       Never-married       Adm-clerical      Own-child  White    Male
32560  Married-civ-spouse    Exec-managerial           Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country salary
0              2174             0              40  United-States  <=50K
1                 0             0              13  United-States  <=50K
2                 0             0              40  United-States  <=50K
3                 0             0              40  United-States  <=50K
4                 0             0              40           Cuba  <=50K
...             ...           ...             ...            ...    ...
32556             0             0              38  United-States  <=50K
32557             0             0              40  United-States   >50K
32558             0             0              40  United-States  <=50K
32559             0             0              20  United-States  <=50K
32560         15024             0              40  United-States   >50K

[32561 rows x 15 columns]

In [13]:
## Race count 
race_count = df['race'].value_counts()
print(race_count)

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [15]:
## avaerage aga of men
avaerage_age_men = df[df["sex"] == "Male"]
avaerage_age_men.mean()

       age         workclass  fnlwgt     education  education-num  \
0       39         State-gov   77516     Bachelors             13
1       50  Self-emp-not-inc   83311     Bachelors             13
2       38           Private  215646       HS-grad              9
3       53           Private  234721          11th              7
7       52  Self-emp-not-inc  209642       HS-grad              9
...    ...               ...     ...           ...            ...
32553   32           Private  116138       Masters             14
32554   53           Private  321865       Masters             14
32555   22           Private  310152  Some-college             10
32557   40           Private  154374       HS-grad              9
32559   22           Private  201490       HS-grad              9

           marital-status         occupation   relationship  \
0           Never-married       Adm-clerical  Not-in-family
1      Married-civ-spouse    Exec-managerial        Husband
2                Divorced  Handlers-cleaners  Not-in-family
3      Married-civ-spouse  Handlers-cleaners        Husband
7      Married-civ-spouse    Exec-managerial        Husband
...                   ...                ...            ...
32553       Never-married       Tech-support  Not-in-family
32554  Married-civ-spouse    Exec-managerial        Husband
32555       Never-married    Protective-serv  Not-in-family
32557  Married-civ-spouse  Machine-op-inspct        Husband
32559       Never-married       Adm-clerical      Own-child

                     race   sex  capital-gain  capital-loss  hours-per-week  \
0                   White  Male          2174             0              40
1                   White  Male             0             0              13
2                   White  Male             0             0              40
3                   Black  Male             0             0              40
7                   White  Male             0             0              45
...                   ...   ...           ...           ...             ...
32553  Asian-Pac-Islander  Male             0             0              11
32554               White  Male             0             0              40
32555               White  Male             0             0              40
32557               White  Male             0             0              40
32559               White  Male             0             0              20

      native-country salary
0      United-States  <=50K
1      United-States  <=50K
2      United-States  <=50K
3      United-States  <=50K
7      United-States   >50K
...              ...    ...
32553         Taiwan  <=50K
32554  United-States   >50K
32555  United-States  <=50K
32557  United-States   >50K
32559  United-States  <=50K

[21790 rows x 15 columns]